:root {
    /* bg colors */
    --cor1: #CEE2BD;
    --cor2: #98CA8D;
    --cor3: #63B068;
    --cor4: #3F975D;
    --cor5: #247E5A;
    --cor6: #106659;
    --cor7: #00444D;
    --fonte: #FFFFFF;

    /* gd colors */
    --grCor1: linear-gradient(#247E5B, #00444D);
    --grCor2: linear-gradient(#247E5B, #0F6659);
}

body {
    font-family: 'Poppins', sans-serif;
}

/* CONTAINER HOME */
.container.home {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.container.home .msg1,
.container.home .msg2 {
    width: 30%;
    height: 80%;
    box-sizing: border-box;
    color: var(--cor6);
    line-height: 1;
}

/* MENSAGEM 1 */
.container.home .msg1 h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--cor4);
    padding-bottom: 2rem;

}

.container.home .msg1 p {
    line-height: 1.2;
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 0;
    width: 90%;
}

/* MENSAGEM 2 */
.container.home .msg2 h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--cor4);
    padding-bottom: 2rem;
}

.container.home .msg2 ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.container.home .msg2 ul li {
    display: flex;
    align-items: center;
    gap: 1vw;
    font-size: 1.7rem;
    font-weight: 550;
    margin-bottom: 0;
}

.container.home .msg2 ul li a {
    background-color: var(--cor7);
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container.home .msg2 ul li a img {
    width: 2.5vw;
    height: 2.5vw;
}

/*      ===MOBILE===   */
@media (max-width: 600px) {

    /*TIRANDO BARRA DE ROLAGEMs*/
    .container {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .container::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari e Opera */
    }

    /* CONTAINER HOME */
    .container.home {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: normal;
        align-items: center;
        width: 100%;
        height: 72vh;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .container.home .msg1,
    .container.home .msg2 {
        width: 88%;
        height: fit-content;
        box-sizing: border-box;
        color: var(--cor6);
        line-height: 1;
        padding-top: 3rem;
    }

    .container.home .msg2 {
        margin-bottom: 5rem;
    }

    /* MENSAGEM 1 */
    .container.home .msg1 h1 {
        font-size: 2.5rem;
        font-weight: 600;
        color: var(--cor4);
    }

    .container.home .msg1 p {
        line-height: 1.2;
        font-size: 1.7rem;
        font-weight: 500;
        margin-bottom: 0;
        width: 90%;
        text-align: inherit;
    }

    /* MENSAGEM 2 */
    .container.home .msg2 h1 {
        font-size: 2.5rem;
        font-weight: 600;
        color: var(--cor4);
    }

    .container.home .msg2 ul {
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 5vw;
    }

    .container.home .msg2 ul li {
        display: flex;
        align-items: center;
        gap: 3vw;
        font-size: 1.7rem;
        font-weight: 550;
        margin-bottom: 0;
    }

    .container.home .msg2 ul li a {
        background-color: var(--cor7);
        width: 15vw;
        height: 15vw;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container.home .msg2 ul li a img {
        width: 9vw;
        height: 9vw;
    }

}