<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/paginaInicial.css">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
	<title>STMusic</title>
</head>

<body>

	<header>
		<div class="bgCirculo">
			<div class="bolhasDecorativas">
				<div class="bolha bolha1"></div>
				<div class="bolha bolha2"></div>
				<div class="bolha bolha3"></div>
				<div class="bolha bolha4"></div>
			</div>
			<div class="logo">
				<h1>ST
					<div class="imgLogo">
						<img src="/assets/img/logo.png" alt="logo">
					</div>
				</h1>
				<h2>Music</h2>
				<h3>Study Tool Music</h3>
			</div>
		</div>
		<div class="text">
			<h1>Estude com STMusic
				e tenha acesso a
				materiais, videoaulas
				e exercícios sobre
				teoria musical</h1>
		</div>
	</header>

	<footer>
		<img src="/assets/img/wave-sound.png" alt="sinalSom">
		<div class="btn">
			<a href="/login">Começar</a>
		</div>
		<img src="/assets/img/wave-sound.png" alt="sinalSom">

	</footer>

</body>

</html>